openapi: 3.0.3
info:
  title: Nova Mail Admin API
  description: |
    Admin API for managing Nova Mail tenants, domains, users, and billing.
    This API is used by the admin dashboard and customer portals.
  version: 0.1.0
  contact:
    name: Nova Mail Support
    email: support@nova-mail.com

servers:
  - url: https://admin.nova-mail.com/api/v1
    description: Production
  - url: https://staging-admin.nova-mail.com/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: Tenants
    description: Tenant management
  - name: Domains
    description: Domain management
  - name: Users
    description: User management
  - name: Billing
    description: Billing and subscriptions

paths:
  /tenants:
    get:
      summary: List tenants
      tags: [Tenants]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of tenants
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
                  total:
                    type: integer

    post:
      summary: Create tenant
      tags: [Tenants]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, plan_id]
              properties:
                name:
                  type: string
                plan_id:
                  type: string
                  format: uuid
                settings:
                  type: object
      responses:
        '201':
          description: Tenant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'

  /tenants/{tenant_id}:
    get:
      summary: Get tenant
      tags: [Tenants]
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Tenant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update tenant
      tags: [Tenants]
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                active:
                  type: boolean
                settings:
                  type: object
      responses:
        '200':
          description: Tenant updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'

  /domains:
    get:
      summary: List domains
      tags: [Domains]
      parameters:
        - name: tenant_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                type: object
                properties:
                  domains:
                    type: array
                    items:
                      $ref: '#/components/schemas/Domain'

    post:
      summary: Add domain
      tags: [Domains]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, domain]
              properties:
                tenant_id:
                  type: string
                  format: uuid
                domain:
                  type: string
                  example: example.com
      responses:
        '201':
          description: Domain added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'

  /users:
    post:
      summary: Create user
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, email, password]
              properties:
                tenant_id:
                  type: string
                  format: uuid
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 12
                display_name:
                  type: string
                quota_bytes:
                  type: integer
                  format: int64
                quota_messages:
                  type: integer
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /billing/subscriptions:
    get:
      summary: List subscriptions
      tags: [Billing]
      parameters:
        - name: tenant_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'

  /health:
    get:
      summary: Health check
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy

components:
  schemas:
    Tenant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        plan_id:
          type: string
          format: uuid
        active:
          type: boolean
        settings:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Domain:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        domain:
          type: string
        verified:
          type: boolean
        dkim_selector:
          type: string
        created_at:
          type: string
          format: date-time

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        display_name:
          type: string
        quota_bytes:
          type: integer
          format: int64
        quota_messages:
          type: integer
        active:
          type: boolean
        created_at:
          type: string
          format: date-time

    Subscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        stripe_subscription_id:
          type: string
        status:
          type: string
          enum: [active, canceled, past_due]
        current_period_end:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
